@import "tailwindcss";
@layer base {
  :root {
    --font-orbitron: "Orbitron", sans-serif;
  }
  
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-logo {
  font-family: 'orbitron', sans-serif;
}

.logo {
  height: 15em;
  padding: 0.01em;
  will-change: filter;
  transition: filter 300ms;
  
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border: 1px solid #646cff;
  border-radius: 0.5em;
  padding: 2em;
}

tr {
  text-align: left;
  text-decoration: none;
  background-color: rgb(20, 40, 60);
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}

td {
  text-decoration: none;
  background-color: rgb(70, 70, 70);
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 0.5em;
  transition: all 0.2s ease-in-out;
}

option {
  background-color: rgb(70, 70, 70);
  color: white;
}


